<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div id="cart">
</div>

<script>
  Stripe.setPublishableKey('pk_test_rLTDPf7qeKubADQo8CPkc1xb');

  var cartDiv = document.getElementById('cart');
  var app = Elm.ShoppingCart.embed(cartDiv);

  app.ports.checkout.subscribe(function(card_details) {
    Stripe.card.createToken(card_details, function(status, response) {
      if (response.error) {
        app.ports.cardError.send(response.error.message);
      } else {
        app.ports.cardToken.send(response.id);
      }
    });
  });

  app.ports.updateCount.subscribe(function(count) {
    if(count > 0) {
      $('.nav .cart').text("My Cart (" + count + ")");
    } else {
      $('.nav .cart').text("My Cart");
    }
  });
</script>
