<!DOCTYPE html>
<html>
  <head>
    <title>The Gilded Rose</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <script src="https://use.fontawesome.com/4c58df4ed3.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav">
      <div class="nav-left">
        <div class="nav-item">
          <h1 class="title">The Gilded Rose</h1>
        </div>
      </div>
      <div class="nav-right">
        <div class="nav-item">
          My Cart
          <span class="icon"><i class="fa fa-shopping-cart"></i></span>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
